.article_guarantee {
    background-color: var(--divider-background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 256px;
    margin: 0 auto;
}

.article_guarantee div {
    padding: 40px;
    opacity: 0; /* 627 and down opacity 0 */
}

.fig_guarantee {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 131px;
    /* min-width: 172px; */
    border-radius: 25px;
    position: relative;
}

.article_guarantee div h3 {
    font-family: var(--roboto);
    font-size: min(5vw, 1.2rem);
    line-height: 31px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

@media only screen and (max-width: 1078px) {
    .article_guarantee {
        height: auto;
    }
}

@media only screen and (max-width: 546px) {
    .article_guarantee {
        width: 100%;
        margin: 0 0;
    }
}

@media only screen and (max-width: 510px) {
    .fig_guarantee {
        width: 50vw;
    }
}

@media only screen and (max-width: 300px) {
    .fig_guarantee {
        width: 80vw;
    }
}