.dashboard_main_section {
    padding: 80px 0px 40px 100px;
    width: 100%;
    height: auto;
    font-size: min(4vw, 0.8rem);
}

.dashboard_header {
    padding: 50px 0px;
    position: relative;
    width: 100% !important;
    display: block;
}

.dashboard_header::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100% !important;
    height: 2px;
    background-color: black;
}

.dashboard_section_container {
    margin-top: 20px;
    height: auto;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 5px;
    display: grid;
    width: calc(100% + 580px);
    grid-template-columns: 900px 0.1fr 300px 0.1fr;
    grid-template-rows: 300px 50px 350px 50px 400px;
    grid-template-areas: "slides . recent ."
                        ". . recent ."
                        "graph . recent ."
                        ". . . ."
                        "calendar . seller .";
}

.slideshow_container {
    grid-area: slides;
    overflow-x: hidden;
}

.recent_orders {
    grid-area: recent;
    width: 100%;
}

.sales_graph {
    grid-area: graph;
}

.calendar {
    grid-area: calendar;
}

.best_sellers {
    grid-area: seller;
}


@media only screen and (max-width: 1300px) {
    .dashboard_section_container {
        width: calc(100% + 50vw);
        grid-template-columns: 500px 0.1fr 200px 0.1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .dashboard_main_section {
        padding: 60px 0px;
        margin: 0 auto;
        width: 100vw;
        height: auto;
        font-size: min(4vw, 0.8rem);
    }

    .dashboard_section_container {
        width: 100% !important;
        grid-template-columns: 550px 0.6fr 200px 0.1fr;
    }
}

@media only screen and (max-width: 780px) {
    .dashboard_section_container {
        grid-template-columns: 400px 0.3fr 200px 0.1fr;
        margin: 0 8%;
    }
}

@media only screen and (max-width: 750px) {
    .dashboard_section_container {
        margin: 0 5%;
    }
}

@media only screen and (max-width: 680px) {
    .dashboard_section_container {
        margin: 0;
        gap: 5px;
        grid-template-columns: 5px 300px 1fr 300px 5px;
        grid-template-rows: 300px 50px 350px 50px 400px 50px 400px;
        grid-template-areas: ". slides slides slides ."
                            ". . . . ."
                            ". graph graph graph ."
                            ". . . . ."
                            ". calendar calendar calendar ."
                            ". . . . ."
                            ". recent . seller .";
    }
}

@media only screen and (max-width: 650px) {
    .dashboard_section_container {
        gap: 10px;
        grid-template-columns: 1px 280px 1fr 280px 1px;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard_section_container {
        gap: 10px;
        grid-template-columns: 1px 250px 1fr 250px 1px;
    }
}

@media only screen and (max-width: 550px) {
    .dashboard_section_container {
        gap: 10px;
        grid-template-columns: 1px 220px 1fr 220px 1px;
    }
}

@media only screen and (max-width: 490px) {
    .dashboard_section_container {
        gap: 0;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 300px 50px 350px 50px 400px 50px 450px 50px 400px;
        grid-template-areas: ". slides ."
                            ". . ."
                            ". graph ."
                            ". . ."
                            ". calendar ."
                            ". . ."
                            ". recent ."
                            ". . ."
                            ". seller .";
    }
}

@media only screen and (max-width: 300px) {
    .dashboard_section_container {
        padding: 20px;
        grid-template-columns: 1px 260px 1px;
        grid-template-rows: 300px 50px 350px 50px 400px 50px 400px 50px 400px;
    }
}

@media only screen and (max-width: 290px) {
    .dashboard_section_container {
        margin-left: -3%;
    }
}

@media only screen and (max-width: 280px) {
    .dashboard_section_container {
        margin-left: -5%;
    }
}

@media only screen and (max-width: 270px) {
    .dashboard_section_container {
        margin-left: -6%;
    }
}

@media only screen and (max-width: 266px) {
    .dashboard_section_container {
        margin-left: -7%;
    }
}