.footer {
    padding: 40px 0 10px 0;
    background-color: var(--header-footer-colors);
}

.footer h3 {
    font-family: var(--lora);
    font-size: 2rem;
    line-height: 40px;
    font-weight: 600;
}

.footer p {
    font-family: var(--lora);
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 400;   
}

.footer h4 {
    font-family: var(--lora);
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.footer h4 span {
    color: rgb(238, 75, 43);
}

.logo_link {
    margin-left: 35px;
    /* margin: 0 auto; */
}

/* .footer_logo {
    margin: 20px auto;
} */

.footer_ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 50px 0;
}

/* find the media size and do flex coloumn for the ul */